:root {
    /* colors */
    --clr-button-100: #195cec;
    --clr-button-200: #124bc7;

    --clr-border-100: #757575;
    --clr-hover-100: #d3d3d3;

    --clr-text-100: #ffffff;
    --clr-text-200: #c5c5c5;
    
    --clr-arrow-100: #124bc7;
    --clr-overlay-100: #f5f5f5;

    --clr-scroll-100: #3b79ff;
    --clr-selected-100: #e1e1e1;
}